body {
  overflow: hidden;
  margin: 0;
  font-family:'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  background-color: #F6FAFB;
  align-items: center;
  height: auto;
  width: auto;
}
.header {
  position: relative;
  margin-top: 2%;
  margin-left: 5%;
  text-align: left;
  color: #656565;
  text-justify: newspaper;
  font-size: 22px;
}

//design for pages
.page {
  display: inline-block;
 margin-left: 200px;
  width: 100%;
  min-width: 220px;
  color:#656565;
  position: absolute;
}


.Dialog {
  position: sticky;
  top: 10%;
  width: 80%;
  height: 70px;
  background: #FFD98D 0% 0% no-repeat padding-box;
  box-shadow: 0px 1px 15px #45414E14;
  border-radius: 4px;
  opacity: 1;
  margin-bottom: 20px;
  text-align: justify;
  margin-left: 5%;
  p {
    padding-left: 10px;
    padding-top: 20px;
  }
}

//button "Redigera" and "Min Portfölj" on the page Hem
#button {
  align-items: center;
  box-sizing: border-box;
  padding: 1px 6px;
  height: 50px;
  background: #3C3C3B 0% 0% no-repeat padding-box;
  border-radius: 4px;
  text-align: center;
  color: #FFFFFF;
  text-decoration: none;
  border: none;
  font: 400 13.3333px arial;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;

  p{
    color: white !important;
    width: 100px;
    height: 22px;
  }
  }

//for the block "Min Profil" on the page Hem
.block-left {
  position: fixed;
  min-height: 700px;
  width: 35%;
  min-width: 30%;
  height:  auto;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 1px 15px #45414E14;
  border-radius: 4px;
  margin-left: 5%;
  margin-bottom: 10px;
  margin-right: 2%;
  text-align: left;
  
  #block-header { //Header block
    margin-bottom: 10px;
    border-bottom: 2px solid #EDEFF3;
    padding: 15px;
    height: 50px;
    display: flex;
    justify-content: space-between;
  
    p {
      width: 100px;
      margin: 2.5px;
      font-size: 19px;
      letter-spacing: 0px;
      color: #3C4368;
      opacity: 1;
      
    }
  }
  .left-container{
    margin-left: 50px;
    margin-top: 20px;
    #photo-and-name{ //Photo and name block
      #photo {
        margin-right: 40px;
        float: left;
      
      .round {
      border-radius: 50%;
      width: 111px;
      height: 111px;
      margin-top: 15px;
    }}
    #customer-name {
      margin-left: 30%;
      padding-top: 10px;
      h2 {
        letter-spacing: 0.29px;
        color: #3D4465;
        font-size: 20px;
        opacity: 1;
        }
        h3 {
        font-size: 16px;
        letter-spacing: 0.23px;
        color: #3D4465;
        opacity: 1;
        }
        p {
          font-size: 14px;
          color: #A1A8C3;
        }
      }
    
  }

}
  


  .industries { //Industries block
    margin-top:40px;
    margin-bottom: 40px;
    td {
      height: 20%;
      width: 10%;
      padding: 5% 0%;
    }
    tr {
      height: 20%;
      width: 40%;
    }
    form {
      width: 100%;
    }
  }

  
  .contact-information {
    margin-top: 10px;
    #contactsTitle {  
      margin-bottom: 43px;
      font-size: 14px;
      color: #A1A8C3;
      font-weight: normal;
    }
    form{
      width: 100%;
    }

    p {
      color: #3D4465;
      font-weight: normal;
      width: 20%;
      margin-top: 2%;
      margin-right: 10%;
    }
  }
}


.block-right {
  height: auto;
  position: fixed;
  margin-left: 43%;
  width: 42%;
  min-height:700px;
  margin-right: 15%;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 1px 15px #45414E14;
  border-radius: 4px;
  text-align: left;
  font-size: 16px/19px;
  letter-spacing: 0px;
  color: #3C4368;

  #block-header { //Header section in .block-right

    margin-bottom: 10px;
    border-bottom: 2px solid #EDEFF3;
    padding: 15px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    p {
      margin: 2.5px;
      font-size: 19px;
      letter-spacing: 0px;
      color: #3C4368;
      opacity: 1;
      float: left;
    }
  }

  .holdings-summary{ //Summary of holdings
    margin-left: 40px;

  }
  
  #totalMoney{
    display: inline-block;
    
    #userMoney{
      display: inherit;
      font-size: xxx-large;
      font-weight: 500;
      color: black;

    }
    p#lastUpdate {
      display: inherit;
      font-size: small;
      font-weight: lighter;
      color: #A1A8C3;
      margin: 15px;
    }
  }

  #portfolio-holdings{
    width: 90%;
    li{
      width: 100%;
      position:relative;
      list-style-type: square;
      padding: 1px;
      margin-top: 5px;
      margin-right: 5px;
      border: 1px;
      background-color: lightgreen;
      border-radius: 5px; 
    }


  }
}





//for the sidebar with the menu
.menu-wrapper {
  position: fixed;
  top: 0;
  bottom: 0;
  margin: auto;
  display: flex;
  z-index: 9;
  width: 220px;
  left: 0;
  overflow: hidden;
}
.sidebar-navigation {
  position: relative;
  display: flex;
  background-color: #3C3C3B;
  box-shadow: 0px 0px 4px #292929;
  overflow-y: auto;
  flex-direction: column;

  #logo {
    margin: 20px;
    width: 100%;
    height: 80px;
    border: 0;

  }
  
  &::-webkit-scrollbar {
    width: 0px;
  }
  .sidebar-top {
    overflow: hidden;
    display: flex;
    height: calc(100% -260px);
  }
  .links-wrapper {
    overflow: hidden;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    .menu-link {
      text-decoration: none;
      list-style: none;
      padding: 16px;
      display: flex;
      color: #C9B791;
      font-weight: 200;
      background-color: #363636;
      width: 220px;
      i {
        margin-right: 10px;
      }
      &:hover {
        background-color: #292929;
        color: #FDCC6B;
      }
    }
  }
}
  .sidebar-bottom {
    position:absolute;
    bottom: 0;
    align-self: center;
    display: flex;
    flex-direction: column;
    
    
}
.logout-link {
  color: #C9B791;
  text-decoration: none;
  border-top: 2px solid  #C9B791;
  padding-top: 15px;
  i {
    margin-right: 10px;
  }
  &:hover {
  color: #FDCC6B;
}
}

//design for Settings page
.settings-window {
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 1px 15px #45414E14;
  border-radius: 4px;
  opacity: 1;
  width: 1000px;
  min-width: 60%;
  height: 840px;
  margin-top: 15px;
}

#settings-header {
  padding: 20px;
  margin-top: 15px;
  border-bottom: 1px solid #EDEFF3;
  height: 40px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 1px 15px #45414E14;
  border-radius: 4px;
  opacity: 1;
}



//button "Spara" on the page Inställningar
#settings-submit {
  width: 114px;
  height: 42px;
  background: #FDCC6B 0% 0% no-repeat padding-box;
  border-radius: 4px;
  opacity: 1;
  border: none;
  margin-top: 20px;
  float: right;
  margin-right: 20px;
  color: #FFFFFF;
}

//buttons-links on the page Inställningar
#settings-link {
  width: 120px;
  font-size: 16px;
  text-align: left;
  letter-spacing: 0px;
  color: #A1A8C3;
  opacity: 1;
  margin-right: 30px;
  text-decoration: none;
  background-color: #FFFFFF;
  text-align: center;
  &:hover {
    color: #FDCC6B;
  }
  &:active {
    color: #FDCC6B;
  }
}

.department {
  margin-top: 15px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 1px 15px #45414E14;
  border-radius: 4px;
  opacity: 1;
  padding: 30px;
  #photo {
    margin-right: 40px;
    float: left;
  .round {
    border-radius: 50%;
    width: 111px;
    height: 111px;
    margin-top: 15px;
    margin-left: 20px;
    }
  }
}

  #customer-name-for-settings {
  p {
    font-size: 11px;
    letter-spacing: 0;
    color: #A1A8C3;
    opacity: 1;
  }
  input {
    margin-right: 20px;
    width: 210px;
    height: 39px;
    border: 1px solid #EBEDF2;
    border-radius: 4px;
    opacity: 1;
    padding-left: 20px;
    text-align: left;
    color: #575962;
    opacity: 0.6;
    font-size: 14px;
  }
}

#preferences-for-settings {
  p {
    text-align: left;
    font-size: 13px;
    color: #A1A8C3;
    opacity: 1;
  }
  td {
  font-size: 14px;
  text-align: left;
  letter-spacing: -0.01px;
  color: #3D4465;
  opacity: 1;
}
}

//for the page Portfölj
.portfoio-container {
  width: 1010px;
  height: 702px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 1px 15px #45414E14;
  border-radius: 4px;
  width: 100%;
  th {
    font-size: 13px;
    text-align: left;
    letter-spacing: 0px;
    color: #A1A8C3;
    opacity: 1;
    font-weight: normal;
  }
}


//design for the Login page
.startPage {
  text-align: center;

}
