body {
  margin: 0;
  font-family:'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  background-color: #F6FAFB;
  align-items: center;
}
.header {
  margin-top: 15px;
  text-align: left;
  color: #656565;
  text-justify: newspaper;
  font-size: 22px;
}

//design for pages
.page {
  left: 244px;
  color:#656565;
  position: absolute;
}


.Dialog {
  top: 73px;
  left: 244px;
  width: 950px;
  height: 60px;
  background: #FFD98D 0% 0% no-repeat padding-box;
  box-shadow: 0px 1px 15px #45414E14;
  border-radius: 4px;
  opacity: 1;
  margin-bottom: 20px;
  text-align: justify;
  margin-left: 14px;
  p {
    padding-left: 10px;
    padding-top: 20px;
  }
}

//button "Redigera" and "Min Portfölj" on the page Hem
#button {
  width: 88px;
  height: 27px;
  background: #3C3C3B 0% 0% no-repeat padding-box;
  border-radius: 4px;
  opacity: 1;
  text-align: center;
  color: #FFFFFF;
  float: right;
  text-decoration: none;
  padding-top: 5px;
  margin-right: 15px;
  }

//for the block "Min Profil" on the page Hem
.block-left {
  width:552px;
  height:622px;
  float:left;
  top: 157px;
  width: 434px;
  height: 622px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 1px 15px #45414E14;
  border-radius: 4px;
  margin-left: 14px;
  margin-bottom: 10px;
  max-width: 100%;
  min-width: 30%;
  #block-header {
    border-bottom: 1px solid #EDEFF3;
    p {
      text-align: left;
      font-size: 16px/19px;
      letter-spacing: 0px;
      color: #3C4368;
      opacity: 1;
      padding-left: 20px;
    }
  }

  //for the component "CustomerPhoto"
    #photo {
      margin-right: 40px;
      float: left;
    .round {
    border-radius: 50%;
    width: 111px;
    height: 111px;
    margin-top: 15px;
    margin-left: 20px;
  }
}

//forthe customer's mane on the page Hem
    #customer-name {
    margin-left: 170px;
    padding-top: 10px;
    h2 {
      letter-spacing: 0.29px;
      color: #3D4465;
      font-size: 20px;
      opacity: 1;
      }
      h3 {
      font-size: 16px;
      letter-spacing: 0.23px;
      color: #3D4465;
      opacity: 1;
      }
      p {
        font-size: 14px;
        color: #A1A8C3;
      }
    }
  


.industries {
    padding-left: 20px;
    margin-top: 30px;
    width: 100%;
    p {
      font-size: 14px;
      color: #A1A8C3;
    }
    td {
      width: 400px;
      margin-right: 10px;
    }
    tr {
      height: 60px;
      width: 60px;
      margin-bottom: 20px;
    }
  }

  
  .contact-information {
    margin-top: 10px;
    #contactsTitle {  
      padding-left: 20px;
      font-size: 14px;
      color: #A1A8C3;
      font-weight: normal;
    }
    p {
      color: #3D4465;
      font-weight: bold;
      opacity: 1;
    }
    td {
      color: #3D4465;
      font-size: 14px;
      opacity: 1;
      padding-left: 20px;
    }
  }
}


.block-right {
  overflow:auto;
  top: 157px;
  margin-left: 490px;
  width: 460x;
  height: 622px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 1px 15px #45414E14;
  border-radius: 4px;
  opacity: 1;
  max-width: 100%;
  min-width: 40%;
  #block-header {
    border-bottom: 1px solid #EDEFF3;
    p {
      text-align: left;
      font-size: 16px/19px;
      letter-spacing: 0px;
      color: #3C4368;
      opacity: 1;
      padding-left: 20px;
    }
  }
}


//for the sidebar with the menu
.menu-wrapper {
  position: fixed;
  top: 0;
  bottom: 0;
  margin: auto;
  display: flex;
  z-index: 9;
  width: 220px;
  left: 0;
  overflow: hidden;
}
.sidebar-navigation {
  position: relative;
  display: flex;
  height: 100%;
  width: 220px;
  background-color: #3C3C3B;
  box-shadow: 0px 0px 4px #292929;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .logo {
    margin-top: 20px;
    margin-left: 25px;
    width: 158px;
    height: 66px;
    background: url('Images/Image1.png') 0% 0% no-repeat padding-box;
    opacity: 1;
    border: none;
  }
  
  &::-webkit-scrollbar {
    width: 0px;
  }
  .sidebar-top {
    overflow: hidden;
    display: flex;
    height: calc(100% -260px);
  }
  .links-wrapper {
    overflow: hidden;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    .menu-link {
      text-decoration: none;
      list-style: none;
      padding: 16px;
      display: flex;
      color: #C9B791;
      font-weight: 200;
      background-color: #363636;
      width: 220px;
      i {
        margin-right: 10px;
      }
      &:hover {
        background-color: #292929;
        color: #FDCC6B;
      }
    }
  }
}
  .sidebar-bottom {
    margin: 0;
    padding-top: 0;
    display: flex;
    flex-direction: column;
    padding-bottom: 50px;
    align-items: center;
}
.logout-link {
  padding-top: 200px;
  color: #C9B791;
  text-decoration: none;
  i {
    margin-right: 10px;
  }
  &:hover {
  color: #FDCC6B;
}
}


//design for Settings page
.settings-window {
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 1px 15px #45414E14;
  border-radius: 4px;
  opacity: 1;
  width: 1000px;
  min-width: 60%;
  height: 840px;
  margin-top: 15px;
}

#settings-header {
  padding: 20px;
  margin-top: 15px;
  border-bottom: 1px solid #EDEFF3;
  height: 40px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 1px 15px #45414E14;
  border-radius: 4px;
  opacity: 1;
}



//button "Spara" on the page Inställningar
#settings-submit {
  width: 114px;
  height: 42px;
  background: #FDCC6B 0% 0% no-repeat padding-box;
  border-radius: 4px;
  opacity: 1;
  border: none;
  margin-top: 20px;
  float: right;
  margin-right: 20px;
  color: #FFFFFF;
}

//buttons-links on the page Inställningar
#settings-link {
  width: 120px;
  font-size: 16px;
  text-align: left;
  letter-spacing: 0px;
  color: #A1A8C3;
  opacity: 1;
  margin-right: 30px;
  text-decoration: none;
  background-color: #FFFFFF;
  text-align: center;
  &:hover {
    color: #FDCC6B;
  }
  &:active {
    color: #FDCC6B;
  }
}

.department {
  margin-top: 15px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 1px 15px #45414E14;
  border-radius: 4px;
  opacity: 1;
  padding: 30px;
  #photo {
    margin-right: 40px;
    float: left;
  .round {
    border-radius: 50%;
    width: 111px;
    height: 111px;
    margin-top: 15px;
    margin-left: 20px;
    }
  }
}

  #customer-name-for-settings {
  p {
    font-size: 11px;
    letter-spacing: 0;
    color: #A1A8C3;
    opacity: 1;
  }
  input {
    margin-right: 20px;
    width: 210px;
    height: 39px;
    border: 1px solid #EBEDF2;
    border-radius: 4px;
    opacity: 1;
    padding-left: 20px;
    text-align: left;
    color: #575962;
    opacity: 0.6;
    font-size: 14px;
  }
}

#preferences-for-settings {
  p {
    text-align: left;
    font-size: 13px;
    color: #A1A8C3;
    opacity: 1;
  }
  td {
  font-size: 14px;
  text-align: left;
  letter-spacing: -0.01px;
  color: #3D4465;
  opacity: 1;
}
}

//for the page Portfölj
.portfoio-container {
  width: 1010px;
  height: 702px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 1px 15px #45414E14;
  border-radius: 4px;
  width: 100%;
  th {
    font-size: 13px;
    text-align: left;
    letter-spacing: 0px;
    color: #A1A8C3;
    opacity: 1;
    font-weight: normal;
  }
}


//design for the Login page
.startPage {
  text-align: center;

}






