body {
  margin: 0;
  font-family:'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  background-color: #F6FAFB;
  align-items: center;
}
.header {
  margin-top: 15px;
  text-align: left;
  color: #656565;
  text-justify: newspaper;
  font-size: 22px;
}

//design for pages
.page {
  left: 244px;
  color:#656565;
  position: absolute;
}

.Dialog {
  top: 73px;
  left: 244px;
  width: 950px;
  height: 60px;
  background: #FFD98D 0% 0% no-repeat padding-box;
  box-shadow: 0px 1px 15px #45414E14;
  border-radius: 4px;
  opacity: 1;
  margin-bottom: 20px;
  text-align: justify;
  margin-left: 14px;
  p {
    padding-left: 10px;
    padding-top: 20px;
  }
}

.block-left {
 
  width:552px;
  height:622px;
  float:left;
  top: 157px;

  width: 434px;
  height: 622px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 1px 15px #45414E14;
  border-radius: 4px;
  margin-left: 14px;
  margin-bottom: 10px;
  max-width: 100%;
  min-width: 30%;
  text-align: left;
  
  #block-header {
    border-bottom: 1px solid #EDEFF3;
    padding: 15px;
  
    p {
      font-size: 19px;
      letter-spacing: 0px;
      color: #3C4368;
      opacity: 1;
      float: left;
    }
  }

  #customerPhotoAndName{
    margin-top: 50px;
    #photo {
      float: left;
    .round {
    border-radius: 50%;
    width: 111px;
    height: 111px;
    margin-top: 15px;
    margin-left: 20px;
  }
  }
}
  
  #customer-name {
    margin-left: 170px;
    padding-top: 10px;
    p {
      color: #A1A8C3;
      font-size: 12px;
      }
  }

  .industries {
    padding-left: 20px;
    margin-top: 50px;
    width: 100%;
    td {
      width: 400px;
      margin-right: 10px;
    }
    tr {
      height: 60px;
      width: 60px;
      margin-bottom: 40px;
    }
    form {
      width: 60px;
    }
    
  }
  
  .contact-information {
    padding-left: 20px;
    margin-top: 30px;
    #contactsTitle {  
      font-size: 14px;
      color: #A1A8C3;
      font-weight: normal;
    }
    p {
      color: #3D4465;
      font-weight: bold;
    }
  }

  h2 {
  letter-spacing: 0.29px;
  color: #3D4465;
  font-size: 20px;
  opacity: 1;
  }
  h3 {
  font-size: 16px;
  letter-spacing: 0.23px;
  color: #3D4465;
  opacity: 1;
  }
  p {
    font-size: 14px;
    color: #A1A8C3;
  }
}


.block-right {
  overflow:auto;
  width:500px;
  height:600px;
  top: 157px;
  margin-left: 490px;
  width: 460x;
  height: 622px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 1px 15px #45414E14;
  border-radius: 4px;
  opacity: 1;
  max-width: 100%;
  min-width: 40%;
  text-align: left;
  font-size: 16px/19px;
  letter-spacing: 0px;
  color: #3C4368;
  opacity: 1;

  #block-header {
    border-bottom: 1px solid #EDEFF3;
    padding: 15px;
  }

}

#button {
  width: 88px;
  height: 32px;
  background: #3C3C3B 0% 0% no-repeat padding-box;
  border-radius: 4px;
  opacity: 1;
  text-align: center;
  letter-spacing: 0px;
  color: #FFFFFF;
  float: right;
  }


//for the sidebar with the menu
.menu-wrapper {
  position: fixed;
  top: 0;
  bottom: 0;
  margin: auto;
  display: flex;
  z-index: 9;
  width: 220px;
  left: 0;
  overflow: hidden;
}

.sidebar-navigation {
  position: relative;
  display: flex;
  height: 100%;
  width: 220px;
  background-color: #3C3C3B;
  padding-top: 104px;
  box-shadow: 0px 0px 4px #292929;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  &::-webkit-scrollbar {
    width: 0px;
  }
  .sidebar-top {
    overflow: hidden;
    display: flex;
    height: calc(100% -260px);
  }
  .links-wrapper {
    overflow: hidden;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    .menu-link {
      text-decoration:none;
      list-style: none;
      padding: 16px;
      display: flex;
      color: #C9B791;
      font-weight: 200;
      background-color: #363636;
      width: 220px;
      &:hover {
        background-color: #292929;
        color: #FDCC6B;
      }
    }
  }
  .sidebar-bottom {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    padding-bottom: 150px;
    align-items: center;
      .logout-link {
        color: #C9B791;
        text-decoration: none;
        &:hover {
        color: #FDCC6B;
      }     
    }
  }
}

//design for the login page
.startPage {
  text-align: center;

}






